# Site settings
course_name: Deep learning for Computer Vision
course_description: "Computer Vision has become ubiquitous in our society, image searches to self-driving cars. On the other hand, Deep learning has shaken the world of artificial intelligence in the recent years. Most of these developments greatly advanced the performance of state-of-the-art visual recognition systems, which put Computer Vision in the epicenter of most technological progress from the past decade. In this context, this course aims at providing a consistent exploration of how deep learning started to its most recent achievements, always using Computer Vision tasks as their main application, historically or practically. During the course, we'll also understand many of the main computer vision problems and use them as cases for the introduction of various deep learning related problems. Finally, this course hope to give students working knowledge of PyTorch, one of the main deep learning frameworks, and prepare them to future industrial and academic careers in the field."
course_semester: "Fall 2023"
pre_requisites: Basics of Multivariate Calculus and Linear Algebra.


baseurl: "/DeepLearning4CV-F2023" # the subpath of your site, e.g. /blog/
url: "jeovafarias.github.io/" # the base hostname & protocol for your site

schoolname: "Bowdoin College"
schoolurl: "https://bowdoin.edu"
twitter_username: BowdoinCollege 

address: |
    Bowdoin College
    Department of Computer Science,
    255 Maine Street, 
    Brunswick, Maine 04011

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
