<div class="institutions-wrapper">
    <div class="institutions-text-wrapper">
        <h1 class="section-title">Organizações envolvidas</h1>
    </div>
    <div class="institutions-image-wrapper">
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="32" src="/_images/logo.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="/_images/softex.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="/_images/unb.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="/_images/lappis.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="/_images/bp.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="/_images/mcti.png">
        </div>
    </div>
</div>