<div class="institutions-wrapper">
    <div class="institutions-text-wrapper">
        <h1 class="section-title">Organizações envolvidas</h1>
    </div>
    <div class="institutions-image-wrapper">
        <img class="image-institutions-effect" height="32" src="/_images/logo.png">
        <img class="image-institutions-effect" height="30" src="/_images/softex.png">
        <img class="image-institutions-effect" height="30" src="/_images/unb.png">
        <img class="image-institutions-effect" height="30" src="/_images/lappis.png">
        <img class="image-institutions-effect" height="30" src="/_images/bp.png">
        <img class="image-institutions-effect" height="30" src="/_images/mcti.png">
    </div>
</div>