<div class="last-editions-wrapper">
    <div class="editions-image-wrapper">
        <img class="image-editions-effect" src="/.github/_images/brisa2023.jpg">
    </div>
    <div class="editions-text-wrapper">
        <h1 class="editions-title">Inovação, conhecimento e qualidade</h1>
        <h4 class="editions-text">A BRISA Sociedade para o Desenvolvimento da Tecnologia da Informação, em parceria com a UnB campus Gama e LAPPIS, vai capacitar estudantes de cursos de tecnologias, graduação e ensino técnico, para se tornarem desenvolvedores de sistemas nas tecnologias mais atuais de informática e comunicações. A BRISA conta com recursos da Lei de Informática, através de Programa Prioritário do Ministério da Ciência, Tecnologia e inovações – MCTI, coordenado pela Softex.</h4>
    </div>
</div>