<div class="method-wrapper">
    <div class="method-title-wrapper">
        <h1 class="method-title">Impulsione sua Carreira</h1>
    </div>

    <div class="method-content-wrapper">
        <div class="method-content-container">
            <img class="method-image" height="32" src="/_images/ead.png">
            <div class="method-content">
                <h2 class="method-content-title">
                    1. Etapa EAD (Módulos)
                </h2>
                <p class="method-content-text">
                    Serão 250 alunos selecionados para etapa EAD, os quais passarão por uma capacitação à distância (em EaD), nos seguintes temas: Programação em Python (ou outra linguagem de interesse do mercado local), Matemática para computação (para criptografia e computação gráfica), Estatística (para BigData e IA), Banco de dados e modelagem (para BigData), Fundamentos de IA, Fundamentos de BigData, Fundamentos de BlockChain, Fundamentos de RA e RV
                </p>
            </div>
        </div>
        <div class="method-content-container">
            <img class="method-image" height="32" src="/_images/group.png">
            <div class="method-content">
                <h2 class="method-content-title">
                    2. Etapa de Imersão
                </h2>
                <p class="method-content-text">
                    Ao final da etapa de capacitação, serão selecionados 40 alunos que participarão da segunda etapa do curso. Nessa etapa, os alunos desenvolvem projetos em equipe, a partir de desafios propostos por profissionais da indústria de software (áreas IA, IoT, Blockchain, BigData, RA e RV )
                </p>
            </div>
        </div>
    </div>
</div>