.home-message {
  z-index: 99;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-message .title {
    color: #1f285f;
    cursor: default;
    font-weight: 900;
    font-size: 50px;
}

.home-message .subtitle {
    margin-top: 20px;
    max-width: 700px;
    text-align: center;
}